<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteRozetka" thread-count="2" parallel="tests" >
    <test name="TestRozetka1">
        <classes>
            <class name="rozetka_tests.AddToCartTest">
                <methods>
                    <include name="verifyThatCartContainsBillThatIsLessThanSpecifiedSum()"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>